@model IEnumerable<Course>
@{
    ViewData["Title"] = "Courses";
    int count = 1;
}

<div>
    <h1 class="display-4 text-center">Welcome to University</h1>
    <table class="table table-success table-striped" >
        <thead>
            <tr>
                <th scope="col" style = "width: 5%">#</th>
                <th scope="col">Course</th>
                <th scope="col">Description</th>
                <th scope="col" style = "width: 12%"></th>
            </tr>
        </thead>
        <tbody id="course">
            @foreach (Course item in Model)
            {
             <tr>
                 <th scope="row">@count</th>
                 <td><a asp-controller="Group" asp-action="AllGroups" asp-route-courseId = "@item.Id">@item.Name</a></td>
                 <td>@item.Description</td>
                 <td><a asp-action="ChangeCourse" asp-route-id = "@item.Id" class="btn btn-outline-warning btn-sm">Change</a> 
                     <a asp-action="DeleteCourse" asp-route-id = "@item.Id" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a></td>
             </tr>
                count++;
            }
        </tbody>
    </table>
    <a asp-action="AddCourse" type="button" class="btn btn-success">Add</a>
</div>
